<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
       {{ user.full_name }}'s Profile
    {% endblock %}</title>
</head>
<body>

    <p>{{ user.phone_number }}</p>
    <br>
    <p>{{ user.full_name }}</p>
    <br>
    <p>{{ user.email }}</p>
    <a href="{% url 'edit-profile' %}">edit profile</a>

        <h2>Posted Advertisements</h2>
        {% for adv in user.advertisements.all %}
            <a href="{{ adv.get_absolute_url }}"><h3>{{ adv.title }}</a>
            <p>{{ adv.description }}</p>
            <p>{{ adv.location }}</p>
            <br>
            <br>
        {% endfor %}

</body>
</html>