[flake8]
max-line-length = 120
exclude =
    */migrations/*,
    */.ipynb_checkpoints/*
    reval/settings/*.py,
    reval/base_staticfiles,
    */__init__.py
    */apps.py
    src/*
    venv/*
    env/*
ignore =
    E203
    W503