# you should to run : pre-commit install -f
# to add to git hook

asgiref~=3.5.1
Django~=3.2
django-filter~=21.1
Pillow~=9.1.0
psycopg2~=2.9.3
pytz~=2022.1
sqlparse~=0.4.2
flake8~=4.0.1
pre-commit~=2.19.0
