<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block content %}

    {% if advertisement.user == request.user %}
        <a href="" style="color: orangered">Promote this advertismenet</a>
        {% for package in packages %}
            <a href="{% url 'package-detail' package.pk advertisement.pk %}">{{ package.title }}</a>
        {% endfor %}
    {% endif %}

    <h2>{{ advertisement.title }}</h2>
    <h4>{{ advertisement.description }}</h4>
    <p>price : {{ advertisement.description }}</p>
    <p>location : {{ advertisement.location.city }}</p>
    <p>category: {{ advertisement.category }}</p>
    <p>contact : {{ advertisement.user.phone_number }}</p>

    {% for img in advertisement.images.all %}
        <img src="{{ img.image_file.url }}">
    {% endfor %}

{% endblock %}
</body>
</html>