{#{% extends 'base.html' %}#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>hi</h1>

    <!-- Categories -->
        {% for cat in categories %}

        <ul>

            {% if cat.parent is None %}

                {% if city is None %}
                    <li><a href="{% url 'advertisement-list-city-category' city=city category=cat.slug %}"> {{ cat.name }} </a></li>
                {% else %}
                    <li><a href="{% url 'advertisement-list-city-category' city=city category=cat.slug %}"> {{ cat.name }} </a></li>
                {% endif %}

                {% for child in cat.children.all %}
                    <ul>
                        {% if city is None %}
                            <li><a href="{% url 'advertisement-list-city-category' city=city category=child.slug %}"> {{ child.name }} </a></li>
                        {% else %}
                            <li><a href="{% url 'advertisement-list-city-category' city=city category=child.slug %}"> {{ child.name }} </a></li>
                        {% endif %}
                    </ul>
                {% endfor %}

            {% endif %}

        </ul>
    {% endfor %}


    <!-- Search bar -->
    <p style="font-weight: bold">Search</p>
    <form method="get">
        {{ filter.form.as_p }}
    <input type="submit">
    </form>
    <p></p>

    <!-- Advertisements -->
    {% for adv in filter.qs.all %}

        <div>
            <h3><a href="{{ adv.get_absolute_url }}">{{ adv.title }}</a></h3>
        </div>

        <img src="{{ adv.images.first.image_file.url }}">
    {% endfor %}



</body>
</html>