<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block content %}

    <h2>{{ object.title }}</h2>
    <h4>{{ object.description }}</h4>
    <p>price : {{ object.description }}</p>
    <p>location : {{ object.location.city }}</p>
    <p>category: {{ object.category }}</p>

    <p>contact : {{ object.user.phone_number }}</p>

    {% for img in object.images.all %}
        <img src="{{ img.image_file.url }}">
    {% endfor %}

{% endblock %}
</body>
</html>